{{#if polls}}
<h1 class="col-md-6 col-md-offset-3 poll-head text-center">{{title}}</h1>
{{#each polls}}
<div class="row">
    <div class="text-center poll-wrap col-md-6 col-md-offset-3">
        <h1 class="poll-title"><a href="/polls/find/{{this._id}}">{{this.title}}</a></h1>
        <p class="meta-info">Posted by <a href="/users/polls/{{this.author}}">{{this.author}}</a> in <a href="/polls/show/{{this.category}}">{{this.category}}</a> on {{this.date}}.</p>
        <p><a href="/polls/results/{{this._id}}" class="btn btn-default poll-btn">View Results</a><a href="/polls/find/{{this._id}}" class="btn btn-default poll-btn">Vote In Poll</a></p>
    </div>
</div>
{{/each}}
<p class="poll-remove-wrap text-center col-md-6 col-md-offset-3"><a href="/polls/removepoll/">Remove a poll?</a></p>
{{else}}
<h1 class="poll-head text-center">There are no polls available!</h1>
{{/if}}
{{#if username}}
<p class="category-wrap text-center col-md-6 col-md-offset-3"><a href="/dashboard">Return to Dashboard</a></p>
{{/if}}