<div class="row">
    <div class="signup-head col-md-8 col-md-offset-2 text-center">
        <h1>Create a free account!</h1>
        <p>Fill out the form below and get all of the bonuses offered for free!</p>
        <p>We will not send any emails regarding promotions or any spam.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
    <form method="post">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" name="firstname" placeholder="First Name" value="{{input.firstname}}" required>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" name="lastname" placeholder="Last Name" value="{{input.lastname}}" required>
        </div>
        <div class="form-group">
            <label for="password">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" value="{{input.email}}" required>
        </div>
        <div class="form-group">
            <label for="lastname">User Name</label>
            <input type="text" class="form-control" name="username" placeholder="User Name" value="{{input.username}}" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}
    </form>
    </div>
</div>